<h1>Listing users of who-instag</h1>

<table>
  <tr>
    <th>Profile Picture</th>
    <th>Username</th>
    <th>Profile name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <% unless user.username == nil %>
  <tr>
    <td><%= image_tag user.profile_picture %></td>
    <td><%= user.username %></td>
    <td><%= user.profile_name %></td>
    <% if user == current_user %>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
  <% end %>
<% end %>
</table>

<br />
<% if session[:access_token] %>
  <p> You are logged in with Instagram! </p>
  <p> Click on <%= link_to 'show', current_user %> profile to see your friends!
<% else %>
  <% if Rails.env.development? || Rails.env.test? %>
    <%= link_to "Login com Instagram",  "https://api.instagram.com/oauth/authorize/?client_id=2523ac2b07ae4bb2a76b4c633f156969&redirect_uri=http://localhost:3000/callback&response_type=code&scope=relationships" %>
  <% else %>
    <%= link_to "Login com Instagram",  "https://api.instagram.com/oauth/authorize/?client_id=c0db2245ea5e4b09a58f81ec96e53fc0&redirect_uri=http://who-instag.herokuapp.com/callback&response_type=code&scope=relationships" %>
  <% end %>
  <br />
<% end %>
<br />
<%= button_to 'Log out', destroy_user_session_path, :method => :delete %>